save-exact=true
registry=https://registry.npmjs.org

# https://stackoverflow.com/questions/57541402/node-gyp-configure-got-gyp-err-find-vs
python=python
# fuer re2, argon2 und pg-native
#msvs_version=2022
msvs_version=2019
#msbuild_path="C:\Program Files\Microsoft Visual Studio\2022\Community\Msbuild\Current\Bin\MSBuild.exe"
#msbuild_path="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\MSBuild\15.0\Bin\MSBuild.exe"

#strict-ssl=false
#package-lock=false
